*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}
html,body{
    width: 100%;
    height: 100vm;
}
#main{
    width: 100%;
    background-color: black;
}
#home{
    position: relative;
    width: 100%;
    height: 100vw;
    color: #fff;
    background-color: black;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}
#nav a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}
#heading{
    padding-top: 90px;
}
#heading h1{
    font-family: "Arial";
    line-height: 1;
    opacity: .6;
    margin-left: 30px;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}
#heading #secoundh1{
    margin-left: 230px;
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}
.blocktext h5{
    text-transform: uppercase;
    text-align: right;
    font-size: 15px;
}
#chotiheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}
#chotiheading h5{
    text-transform: uppercase;
    margin-top: .5vw;
    text-align: right;
    font-size: 1vw;
}
#homefooter {
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#homefooter a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
#homefooter #iconset{
    display: flex;
    gap: 5px;
}
#homefooter #circles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}
#secound{
    color: #fff;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
    height: 100vh;
}
.elem{
    width: 100%;
    border-top: 1px solid #888;
}